<footer>
    <span id="footer-title">&#64 Himadri Das. All Rights Reserved</span>
    <span id="footer-nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>     
            <li>
                <a href="/users/profile">Profile</a>
            </li>     
        </ul> 
    </span>
</footer>