body {
  background-color: lightblue;
}
body img {
  padding: 10px;
  width: 120px;
}
body #user-update-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
body #user-update-form input {
  margin: 2%;
}
